<!--
  Generated template for the MessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{(message.messagetype == 0)?message.sendname:'系统消息'}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item no-lines *ngIf="message.abnormaltype == 1">设备名称：</ion-item>
    <ion-item *ngIf="message.abnormaltype == 1"><ion-input [(ngModel)]="message.name" readonly></ion-input></ion-item>
    <ion-item no-lines *ngIf="message.abnormaltype == 1">设备编号：</ion-item>
    <ion-item *ngIf="message.abnormaltype == 1"><ion-input [(ngModel)]="message.no" readonly></ion-input></ion-item>
    <ion-item no-lines>发生时间：</ion-item>
    <ion-item><ion-input [(ngModel)]="message.time" readonly type="date"></ion-input></ion-item>
    <ion-item no-lines *ngIf="message.abnormaltype == 2">发生部位：</ion-item>
    <ion-item *ngIf="message.abnormaltype == 2"><ion-input [(ngModel)]="message.place" readonly></ion-input></ion-item>
    <ion-item no-lines>异常类型：</ion-item>
    <ion-item><ion-input [(ngModel)]="message.type" readonly></ion-input></ion-item>
    <ion-item no-lines>异常详情：</ion-item>
    <ion-item><ion-textarea [(ngModel)]="message.detail" readonly></ion-textarea></ion-item>
    <ion-item no-lines>接受报告人：</ion-item>
    <ion-item><ion-input [(ngModel)]="message.receive1.name" placeholder="责任民警"></ion-input><button ion-button item-end clear>删除</button></ion-item>
    <ion-item><ion-input [(ngModel)]="message.receive2.name" placeholder="场所负责人"></ion-input><button ion-button item-end clear>删除</button></ion-item>
    <ion-item><ion-input [(ngModel)]="message.receive3.name" placeholder="保安经理"></ion-input><button ion-button item-end clear>删除</button></ion-item>
    <ion-item no-lines>报告回复：</ion-item>
    <ion-item><ion-textarea [(ngModel)]="receive.content"></ion-textarea></ion-item>
    <ion-item><button ion-button full large>回复</button></ion-item>
    <ion-item no-lines>回复内容1：</ion-item>
    <ion-item><ion-input [(ngModel)]="message.receive1.content" readonly></ion-input></ion-item>
    <ion-item no-lines>回复内容2：</ion-item>
    <ion-item><ion-input [(ngModel)]="message.receive2.content" readonly></ion-input></ion-item>
    <ion-item no-lines>回复内容3：</ion-item>
    <ion-item><ion-input [(ngModel)]="message.receive3.content" readonly></ion-input></ion-item>
  </ion-list>
</ion-content>
